/** Bootstrap Overrides **/
.btn-outline-secondary {
    background: white;
    color: #333;
}

.btn-outline-secondary:hover {
    background: #e4e4e4;
}

input.form-control[type=color] {
    height: 39px;
    padding: 9px;
}

input.form-control[type=file] {
    height: auto;
}

/** Additional Bootstrap Component Sizes **/
.modal-xl {
    width: 100%;
    max-width: 1024px;
}

.badge-md {
    font-size: 14px;
}

/** Message Boxes **/
#alerts {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99999;
    width: 100%;
    max-width: 400px;
}

#alerts .alert {
    width: calc(100% - 20px);
    max-width: 400px;
}

/** Modal Load Overlay **/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.overlay i {
    color: #FFF;
    font-size: 68px;
    text-align: center;
    margin-top: -34px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -34px;
}

/** Table Style 2 (Vertical) **/
.table-style-2 {
    width: 100%;
}

.table-style-2 td, .table-style-2 th {
    padding: 4px 4px 4px 0;
    text-align: left;
}

.table-style-2 th {
    color: #888f9c;
    font-size: 12px;
    font-weight: bold;
}

/** Alerts **/
.alert {
    padding: 15px;
    border: none;
    border-radius: 0;
}

.alert-info {
    background-color: #8eb4cb;
    color: white;
}

.alert-warning {
    background-color: #cbb956;
    color: white;
}

.alert-success {
    background-color: #2ab27b;
    color: white;
}

.alert-danger {
    background-color: #bf5329;
    color: white;
}

/** Form Validation State Rules **/
.has-success .form-control:focus, .has-success .btn:focus {
    border-color: #118061;
    box-shadow: inset 0 0 0 .071em #118061 !important;
}

.has-success .form-control, .has-success .btn {
    border-color: #118061 !important;
    box-shadow: none;
}

.has-error .form-control:focus, .has-error .btn:focus {
    border-color: #a94442;
    box-shadow: inset 0 0 0 .071em #a94442 !important;
}

.has-error .form-control, .has-error .btn {
    border-color: #a94442 !important;
    box-shadow: none;
}

.has-feedback .feedback {
    font-size: 12px;
    color: #a94442;
}

/** Bootstrap Select Overrides */
.bootstrap-select .btn {
    background: white;
    border: 1px solid #ced4da;
}

div.bootstrap-select.form-control-sm {
    padding: 0;
}

/** Bootstrap Overrides & Extensions **/
.btn-inline {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
}

.table th {
    border-top: none;
}

/** Responsive Hide Classes **/
@media (max-width: 1400px) {
    .hide-1400 {
        display: none;
    }
}

@media (max-width: 1300px) {
    .hide-1300 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .hide-1200 {
        display: none;
    }
}

@media (max-width: 1100px) {
    .hide-1100 {
        display: none;
    }
}

@media (max-width: 1000px) {
    .hide-1000 {
        display: none;
    }
}

@media (max-width: 900px) {
    .hide-900 {
        display: none;
    }
}

@media (max-width: 800px) {
    .hide-800 {
        display: none;
    }
}

@media (max-width: 700px) {
    .hide-700 {
        display: none;
    }
}

@media (max-width: 600px) {
    .hide-600 {
        display: none;
    }
}

@media (max-width: 500px) {
    .hide-500 {
        display: none;
    }
}

@media (max-width: 400px) {
    .hide-400 {
        display: none;
    }
}

@media (max-width: 300px) {
    .hide-300 {
        display: none;
    }
}

/** Icon Checkbox **/
.icon-checkbox {
    opacity: 0;
    position: absolute;
}

.icon-checkbox + label:before {
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    margin-left: 14px;
}

.icon-checkbox + label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.icon-checkbox + label:before {
    width: 22px;
    font-size: 18px;
}

/** Icon Checkbox (Default) **/
.icon-checkbox-default + label:before {
    content: "\f057";
    color: #bf5329;
}

.icon-checkbox-default:checked + label:before {
    content: "\f058";
    color: #00a546;
}

.icon-checkbox-default:indeterminate + label:before {
    content: "\f057";
    color: gray;
}

/** Empty Object Container **/
.empty-container {
    background: #fafafa;
    padding: 100px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: lighter;
    border: 2px dashed #d7d7d7;
}