/** List View **/
.listview-pagelength-select {
    width: 70px;
}

.listview-search {
    display: inline-block;
    width: 180px;
}

.listview .pagination {
    margin: 0;
}

.listview .pagination .page-item {
    min-width: 35px;
    text-align: center;
}

.listview .pagination .active {
    pointer-events: none;
}

.listview .pagination .disabled {
    pointer-events: none;
}

.listview .pagination {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listview .listview-table td {
    height: 47px;
    vertical-align: middle;
}

.listview thead .sortable[data-sort]::after {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    text-align: center;
    width: 1.15em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #5b5b5b;
}

.listview thead .sortable[data-sort='asc']::after {
    content: '\f15d';
}

.listview thead .sortable[data-sort='desc']::after {
    content: '\f15e';
}

.listview thead .sortable {
    cursor: pointer;
}