<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ $subject }}</title>
        <style type="text/css">
            body {
                -webkit-text-size-adjust: none;
                -ms-text-size-adjust: none;
            }

            body {
                background: rgb(240, 240, 240);
                min-height: 1000px;
                color: rgb(50, 50, 50);
                font-family: Calibri, sans-serif;
                margin: 0;
                padding: 0;
                font-size: 18px;
            }

            table {
                border-collapse: collapse;
            }

            table td {
                vertical-align: top;
            }

            .hint {
                font-size: 12px;
                color: gray;
                text-align: center;
            }

            .wrapper {
                margin-top: 10px;
            }

            .content {
                background: white;
                -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            }

            .mail-logo-header td {
                padding: 10px 0;
            }

            .header {
                padding: 20px 0;
            }

            .mail-salutation td {
                vertical-align: bottom;
                font-size: 20px;
            }

            .mail-text {
                font-size: 18px;
            }

            .mail-footer td {
                padding: 10px 0 0;
                font-size: 12px;
                border-top: 1px solid black;
            }
        </style>
    </head>

    <body>
        <!-- Wrapper -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="wrapper" style="margin-bottom:20px;">
            <tbody>
                <tr>
                    <td width="*"></td>
                    <td width="800" style="padding:80px 80px 30px 80px;" class="content">
                        <!-- Content Table -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <!-- Logo Header -->
                                <tr class="mail-logo-header">
                                    <td colspan="3" align="right">
                                        <img src="http://v13080.php-friends.de:8008/img/logo.png"/>

                                    </td>
                                </tr>

                                <!-- Header -->
                                {{--
                                <tr>
                                    <td class="header" colspan="2">
                                        <p style="text-decoration:underline; font-size:14px; margin:0;">
                                            {!! $mail['sender'] !!}
                                        </p>
                                        @if( isset( $mail['address_image']['content'] ) )
                                            @if(isset($message))
                                                <img src="{{ $message->embedData( $mail['address_image']['content'] , $mail['address_image']['name'] , $mail['address_image']['type'] ) }}"
                                                     height="70"/>
                                            @else
                                                <img src="data:{{$mail['address_image']['type']}};base64,{{base64_encode($mail['address_image']['content'])}}"
                                                     height="70"/>
                                            @endif
                                        @endif
                                        <p style="font-size:20px;">
                                            {!! $mail['receiver'] !!}
                                        </p>
                                    </td>
                                    <td>
                                        @foreach( $mail['header_information'] as $item )
                                            <b>{{ $item['title'] }}:</b> {{ $item['value'] }}<br>
                                        @endforeach
                                    </td>
                                </tr>--}}
                                <!-- Main Content -->
                                <tr class="mail-salutation">
                                    <td colspan="2" style="padding-bottom:15px;">
                                        <b>{{ $subject }}</b>
                                    </td>
                                    <td align="right" style="padding-bottom:15px;">
                                        <table class="mail-date">
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <span style="font-size:14px;">Datum</span><br>
                                                    <span>{{ \DTV\Oxygen\Oxygen::now()->toDateString() }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="mail-text">
                                    <td colspan="3" class="mail-text" style="padding-bottom:40px;">
                                        <p>
                                            {!! $content !!}
                                        </p>
                                    </td>
                                </tr>

                                {{--
                                <!-- Footer -->
                                <tr class="mail-footer">
                                    <td width="33%">
                                        <p>
                                            @if(isset( $mail['footer'][0] ))
                                                {!! $mail['footer'][0] !!}
                                            @endif
                                        </p>
                                    </td>
                                    <td width="33%">
                                        <p>
                                            @if(isset( $mail['footer'][1] ))
                                                {!! $mail['footer'][1] !!}
                                            @endif
                                        </p>
                                    </td>
                                    <td width="33%">
                                        <p>
                                            @if(isset( $mail['footer'][2] ))
                                                {!! $mail['footer'][2] !!}
                                            @endif
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: center">{!!  $mail['custom_footer' ] !!}</td>
                                </tr>--}}
                            </tbody>
                        </table>
                    </td>
                    <td width="*"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>