/** Dashboard / Widget styles **/
.widget {
    margin: 10px 0 20px;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    background: white;
    border-top: 5px solid #0058ff;
}

.widget-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
    font-size: 18px;
}

.widget-heading {
    font-weight: bold;
    text-transform: uppercase;
}

.widget-mover {
    position: absolute;
    top: -15px;
    left: -15px;
    width: calc( 100% - 30px );
    cursor: move;
    height: 50px;
}

.widget-options {
    position: absolute;
    top: 0;
    right: 0;
}

.widget:hover .widget-options, .widget-options.show {
    display: block !important;
}

.widget-options  {
    display: none;
}

.widget-options .btn {
    background: white;
}

.widget-options .btn:hover {
    background: white;
}

.widget-content {
    padding: 0.4em;
}

.widget-placeholder {
    border: 1px dotted black;
    margin: 1em 0;
    height: 80px;
}
.widget .listview .row:first-of-type {
    display: none;
}
.widget .listview .counter-wrapper {
    font-size: 13px;
    margin-top: 4px;
}
.widget .listview td {
    padding: 0.5rem;
    height: auto;
}
.widget-col {
    position: relative;
    min-height: 1px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (max-width: 900px) {
    .cols-2 .widget-col {
        width: 100% !important;
    }
}
@media screen and (max-width: 1200px) {
    .cols-3 .widget-col {
        width: 100% !important;
    }
}

/** Dashboard Layout picker **/
.dashboard-layout-item {
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 9px 5px 0;
    width: 80px;
    display: inline-block;
}

.dashboard-layout-item-active {
    border: 1px solid #118061;
}

.dashboard-layout-item:hover {
    border: 1px solid #118061;
    box-shadow: 0 0 2px #118061;
    cursor: pointer;
}

.dashboard-layout-item:hover .dashboard-layout-column, .dashboard-layout-item-active .dashboard-layout-column {
    background: #84a68c;
}

.dashboard-layout-column {
    background: #c3c3c3;
    height: 60px;
    float: left;
    border:1px solid white;
}