// General
$body-bg: #ffffff;
$enable-shadows: true;

// Typography
$font-family-sans-serif: "Segoe UI", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Container
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 1024px,
        xl: 1280px
);

// Colors
$gray-400: #ced4da;
$secondary: $gray-400;